body
{
	margin: 25px;
	background-color: #181818;
	background-image: url("binding.png");
}

div#game
{
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	
	position: absolute;
	
	border-width: 3px;
	border-radius: 3px;
	border-style: solid;
	border-color: orange;
}

div#game > div#pane
{
	height: 32px;
	line-height: 32px;
	background-color: orange;
}

div#game > div#pane > span#battery
{
	font-weight: bold;
	font-family: calibri;
}

form
{
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 3px;
	margin: auto;
	width: 320px;
	height: 32px;
	
	position: absolute;
	
	border-radius: 3px;
	background-color: orange;
	
	display: none;
}

form.bigger
{
	height: 58px;
	text-align: center;
	font-family: calibri;
}

input
{
	margin: 0px;
	height: 32px;
	
	font-family: calibri;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

input[type=text]
{
	width: 252px;
	padding: 4px;
	font-size: 16px;
}

input[type=submit]
{
	width: 64px;
	font-size: 16px;
	font-weight: bold;
}

@font-face
{
	format("truetype");
	font-family: goldfish;
	src: url(goldfish.ttf);
}